<section id="projects" class="py-5 animate-fade-in">
    <div class="container">
      <h2 class="text-center mb-4 text-white">Projects</h2>
      <div class="row">
        <div *ngFor="let project of projects" class="col-md-6 col-lg-4 mb-4 animate-slide-up">
          <div class="card shadow-lg border-0">
            <div class="card-body">
              <h5 class="card-title text-primary fw-bold">{{ project.name }}</h5>
              <p class="card-text text-white">{{ project.description }}</p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Frontend:</strong> {{ project.frontend }}</li>
                <li class="list-group-item"><strong>Backend:</strong> {{ project.backend }}</li>
                <li class="list-group-item"><strong>Database:</strong> {{ project.database }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  